<%- include('header'); -%>
    <div class="about">
        <h2>This is the about page</h2>
        <p>
            I do create a todo list using Frontend(html css javascript) and Backend(nodeJs "Expressjs")
        </p>
    </div>
<%- include('footer'); -%>
